body{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

header{
    background-color: #fff;
    text-decoration: none;
    font-family: cursive;
    margin: 0em;
}
header h1 a{
    text-decoration: none;
    color: #333;
}

#menu_ul  {
    list-style: none;
    overflow: hidden; 
}
 
#menu_ul li {
    width: 140px;
    text-align: center;
    background-color: #fff;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
}
 
#menu_ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 20px;
}
.warapper{
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
nav{width: 150px;}
aside{width: 200px;}

.resizeimage img { 
    height: auto;
    width: 100%;
    margin: 0em;
}
main section h1{
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}
main section h2 {
    display: inline-block;
    color: #494949;
    border-bottom: solid 3px rgb(255, 186, 115);
}

footer{
    text-align: center;
    color: white;
    background-color: gray;
    margin-top: auto;
    
}
@media screen and (max-width: 900px){
    img { 
        height: auto;
        width: 100%;
        margin: 0em;
    }
    body{
        width: 100%;
    }
    div{flex-direction: column;}
    nav,aside{width: 100%;}
}
