body{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #c8d5bb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #c8d5bb;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0em;
}

header h1 a{
    text-decoration: none;
    color: #333;
    margin: 30px;
    font-size: 20px;
}



.warapper{
    margin: 0 auto;
    flex-direction: column;
}
nav{
    width: 10%;
    float: left;
}
main{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
aside{
    width: 10%;
    float: right;
}
main section{
    margin-top: 50px;
    margin-bottom: 50px;
}

main section h1{
    color: #165e83;
    text-align: center;
    font-size: 20px;
}
main section h2 {
    color: black;
    font-size: 18px;
    text-align: center;
}
main section p{
    color: black;
    font-size: 15px;
    text-align: center;
}
main section p a{
    color: black;
}
dl{
    width: 100%; 
}
dt{
    float:left;
}
dd{
    margin-left:100px;
}

footer{
    text-align: center;
    color: white;
    background-color: gray;
    margin-top: auto;
    
}
